body {
  color: #6c757d;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
nav {
  /* background-color: #333; */
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* background-color: #333; */
  display: flex;
  justify-content: center; /* Centers the links horizontally */
  align-items: center; /* Centers the links vertically (if needed) */
  height: 40px; /* Adjust the height as needed */
}

li {
  margin: 0 20px; /* Adjust spacing between items */
}

a {
  text-decoration: none;
  color: #6c757d;
  padding: 10px;
  display: block;
}
